@tailwind base;
@tailwind components;
@font-face {
  font-family: "Circular";
  src: url("/public/styles/font/CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Circular", sans-serif;
}
